@import './normalize.css';
@import './colors.css';


/*
	Typography
*/

html {
	font-size: 12px;
	font-family: sans-serif;
}

p {
	font-size: 1.6rem;
	line-height: 1.5;
}



/*
	General Styles
*/

body {
	background-color: #fafafa;
}

a {
	text-decoration: none;
}

a:visited {
	color: black;
}



/*
	Games
*/

/* style rebass components with the component name and use the important flag to override it's base style
*/
.CardImage {
	/*height: 320px !important;*/
}

.game-grid {
	display: flex;
	flex-wrap: wrap;
	max-width: 1200px;
	margin: 0 auto;
}

.grid-figure {
	flex-basis: calc(33.333% - 4rem);
	/*flex-grow: 1;*/
	/*flex-shrink: 0;*/
	/*margin: 0 2rem 2rem 2rem;*/
	/*padding: 2rem;*/
	/*border: 1px solid lightgrey;*/
	/*background: white;*/
	/*box-shadow: 0 0 0 5px rgba(0,0,0,0.03);*/
	/*position: relative;*/
}

.single-game {
	@extend .grid-figure;
	max-width: 900px;
	margin: 0 auto;
	display: flex;
	background: white;
	.grid-figure {
		box-shadow: none;
		margin: 0 2rem 0 0;
		border: 0;
		padding: 0;
		flex: 1 0 60%;
		max-width: 60%;
	}
	.comments {
		flex: 1 0 40%;
		max-width: 40%;
	}
	.grid-photo {
		width: 100%;
		margin: 0;
	}
}

.grid-image {
	width: calc(100% + 4rem);
	margin-left: -2rem;
	margin-top: -2rem;
	max-width: none;
	height: 350px;
}

.grid-game-wrap {
	position: relative;
}



/*
	Comments
*/

.comment {
	border-bottom: 1px solid lightgrey;
	padding: 0.5rem 0;
	p {
		font-size: 1.2rem;
		margin: 0;
	}
	strong {
		color: $blue;
		margin-right: 5px;
	}
}

.comment-form {

}

.comment-text {
	margin-right: .5rem;
}



/*
	Buttons
*/

.likes {
	color: $blue;
	margin: .5rem;
	margin-left: 0;
}
